# IDE Miscellany
.idea
*.iml
*.sublime-*
.DS_Store

# Project Tech Stack Specific
# -- Glide Dependency tool
.glide
# -- Vendoring
vendor
# -- Temporary build
_pprof
*.svg
*.prof
_out
*.out
*.test
# -- Organizational
!Dockerfile.*
