language: go

go:
  - 1.12.x
  - 1.13.x
  - 1.14.x

before_install:
  - go get -v golang.org/x/lint/golint
  - go get -v github.com/mailru/easyjson@v0.7.1
  - export GO111MODULE=on
  - go mod download
  - go mod graph

script:
  - make check_generate
  - make test
  - make vet
  - make lint
