language: go

go:
  - 1.12.x
  - 1.13.x
  - 1.14.x

env:
  - GO111MODULE=on
before_install:
  - go get -v golang.org/x/lint/golint@v0.0.0-20201208152925-83fdc39ff7b5
  - go get -v github.com/mailru/easyjson/...@v0.7.7
  - go mod download
  - go mod graph

script:
  - make check_generate
  - make test
  - make vet
  - make lint
